name: Build backend app

defaults:
  run:
    working-directory: "backend"

on:
  workflow_dispatch:
  push:
    branches:
    - backend
    paths:
    - '.github/workflows/backend.ci.yml'
    - 'backend/**'

env:
  USER: ${{ github.actor }}
  GH_TOKEN: ${{ secrets.GH_TOKEN2 }}
  REGISTRY: ghcr.io
  IMAGE_NAME: bootcamp-backend
  IMAGE_VERSION: 1.0.1

jobs:
  setup:
    name: Setup
    runs-on: self-hosted
    permissions:
      packages: write

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'

  maven_build:
    needs: setup
    name: Test & build Backend with Maven
    runs-on: self-hosted

    steps:
    - name: Set up Maven
      uses: stCarolas/setup-maven@v4.5
      with:
        maven-version: 3.8.2
    - name: Test Backend with Maven
      run: |
        mvn clean test

    - name: Build Backend with Maven
      run: |
        mvn clean package

  docker_build_and_push:
    needs: maven_build
    name: Build and deploy backend with Docker
    runs-on: self-hosted
    permissions:
      packages: write
    
    steps:
    - name: Log into registry 
      uses: docker/login-action@v2
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ env.USER }}
        password: ${{ env.GH_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v4
      with:
        context: ./backend
        file: ./backend/Dockerfile
        push: true
        tags: ${{ env.REGISTRY }}/${{ env.USER }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_VERSION }}
